{{ define "main" }}
  <h1>404 Page Not Found (Non-Trivial Homology?)</h1>

  <p>
    The page you are looking for does not exist (anymore), leaving behind a
    hole in our website and in our hearts. As a lab that studies
    <a href="https://bastian.rieck.me/holes/">holes</a>, among other
    things, for a living, we find this mildly delightful, but we suspect
    you were hoping for something else.
  </p>

  <p>
    Try the navigation above, or return to the
    <a href="{{ "/" | relURL }}">home page</a>, which, as far as we know, is
    still simply connected. Hopefully.
  </p>
{{ end }}
