<footer>

  <div id="footer-logos">
    <a href="https://www.helmholtz-muenchen.de/en"><img src="logo_helmholtz_centre_munich.svg" height="32px" /></a>
    <a href="https://www.pioneercampus.org"><img src="logo_hpc_with_text.svg" height="64px" style="padding-left:16px" /></a>
    <a href="https://www.helmholtz.de/en">
      <img src="logo_helmholtz_research.svg" height="32px" style="padding-left:16px" />
    </a>
  </div>

  <div id="footer-text">
    <p>
      This page was last updated on <time datetime="{{ .Lastmod.Format "2006-01-02" }}">{{ .Lastmod.Format "Monday, January 2, 2006" }}</time>.
    {{ with .Site.Params.footer.text }}{{ . | markdownify }}{{ end }}
    </p>
    All Helmholtz logos are copyrighted and may not be used without
    express permission. The remainder of the content, if not specified otherwise,
    has been created by <a href="https://bastian.rieck.me">Bastian Rieck</a>
    and is licenced under a <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International Licence</a>.
  </div>
</footer>
