body
{
  margin:       5% auto;
  max-width:    50%;
  line-height:  1.6;
  font-size:    18px;
  color:        #444;
  background:   #f2f2f2;
  padding:      0 10px;

  font-family: 'Gentium Book Basic', serif;
}

figure.center
{
  text-align: center;
}

h1, h2, h3
{
  line-height: 1.2
}

#TableOfContents ul
{
  list-style-type:  none;
  padding-left:     0px;
  padding-bottom:   0.5em;
  margin:           0;
  overflow:         hidden;
  width:            100%;
  border-bottom:    1px solid black;
}

#TableOfContents li
{
  display: inline;
}

#TableOfContents a
{
  padding-top:     20px;
  padding-right:   20px;
  text-decoration: none;
  font-variant:    small-caps;
  font-size:       1.5rem;
}

footer
{
   border-top:  1px solid black;
   padding-top: 0.5em;
}
