body
{
  line-height:  1.6;
  font-size:    18px;
  color:        #444;
  background:   #f2f2f2;

  margin:       0;
  padding:      0;

  font-family: 'Fira Sans', sans-serif;
}

header
{
  padding:        10px;
  border-bottom:  1px solid black;
}

main
{
  max-width: 50%;
  margin:    5% auto;
  padding:   0 10px;
}

figure.center
{
  text-align: center;
}

h1, h2, h3
{
  line-height: 1.2
}

#TableOfContents ul
{
  list-style-type:  none;
  padding-left:     0px;
  margin:           0;
  overflow:         hidden;
  width:            100%;
}

#TableOfContents li
{
  display: inline;
}

#TableOfContents a
{
  padding-top:     20px;
  padding-right:   20px;
  text-decoration: none;
  font-size:       1.5rem;
}

footer
{
   border-top:  1px solid black;
   padding-top: 0.5em;
}
