<div class="card">
  {{ $person := .Get 0 }}
  {{ $person :=  index .Site.Data.persons $person }}

  <div class="card-left">
    <figure class="person">
      <img src="{{ $person.image }}" width="180" alt="{{ $person.name }}" />
    </figure>
  </div>

  <div class="card-right">
    <span class="card-name">{{ $person.name }}</span><br />
    <span class="card-job">{{ $person.job }}</span>

    <dl class="card-profiles">
      {{ with $person.github }}
        {{ $link := printf "https://github.com/%s" $person.github }}
        {{ partial "profile.html" (dict "name" "GitHub" "link" $link "text" $person.github) }}
      {{end }}

      {{ with $person.orcid }}
        {{ $link := printf "https://orcid.org/%s" $person.orcid }}
        {{ partial "profile.html" (dict "name" "ORCID" "link" $link "text" $person.orcid) }}
      {{end }}

      {{ with $person.web }}
        {{ partial "profile.html" (dict "name" "Web" "link" $person.web "text" $person.web) }}
      {{ end }}

      {{ with $person.twitter }}
        {{ $link := printf "https://twitter.com/%s" $person.twitter }}
        {{ $name := printf "@%s" $person.twitter }}
        {{ partial "profile.html" (dict "name" "Twitter" "link" $link "text" $name) }}
      {{ end }}
    </dl>

    <div class="card-bio">
      {{ $person.bio | markdownify }}
    </div>
  </div>
</div>
