<div class="card-person">
  {{ $person := .Get 0 }}
  {{ $person :=  index .Site.Data.people $person }}
    <figure class="person">
      <img src="{{ $person.image }}" width="180" alt="{{ $person.name }}" />
    </figure>
    <span class="card-name">{{ $person.name }}</span><br />
    <span class="card-job">{{ $person.job }}</span>
    <ul class="card-icons">
      {{ with $person.github }}
        <li>
        <a href="https://github.com/{{ . }}">
            <img src="/github-mark.svg" alt="">
          </a>
        </li>
      {{end }}
      
    {{ with $person.orcid }}
      <li>
      <a href="{{ . }}">
          <img src="/orchid-id.svg" alt="">
        </a>
      </li>
    {{end }}

    {{ with $person.twitter }}
      <li>
      <a href="https://twitter.com/{{ . }}">
          <img src="/logo-x-black.png" alt="">
        </a>
      </li>
    {{ end }}
     {{ with $person.web }}
      <li>
      <a href="{{ . }}">
          <img src="/home.png" alt="">
        </a>
      </li>
   {{ end }} 

  </ul>



</div>
