<div>
    {{ $projects := .Site.Data.featured_projects }}
    <div class="projects-grid">
        <div class="project-column">
            <a href="{{ $projects.link1 }}">
                <img src="{{ $projects.img1 }}" alt="{{ $projects.alt1 }}">
            </a>
        </div>
        <div class="project-column">
            <a href="{{ $projects.link2 }}">
                <img src="{{ $projects.img2 }}" alt="{{ $projects.alt2 }}">
            </a>
        </div>
        <div class="project-column">
            <a href="{{ $projects.link3 }}">
                <img src="{{ $projects.img3 }}" alt="{{ $projects.alt3 }}">
            </a>
        </div>
    </div>

    <div style="display: flex; justify-content: center; align-items: center; width: 100%;">
        <img src="infinity-logo.svg" style="width: 75%;" alt="Lab Large Infinity Logo">
    </div>

    <div class="projects-grid">
        <div class="project-column">
            <a href="{{ $projects.link4 }}">
                <img src="{{ $projects.img4 }}" alt="{{ $projects.alt4 }}">
            </a>
        </div>
        <div class="project-column">
            <a href="{{ $projects.link5 }}">
                <img src="{{ $projects.img5 }}" alt="{{ $projects.alt5 }}">
            </a>
        </div>
        <div class="project-column">
            <a href="{{ $projects.link6 }}">
                <img src="{{ $projects.img6 }}" alt="{{ $projects.alt6 }}">
            </a>
        </div>
    </div>
</div>