<div class="card">
    {{ $tool := .Get 0 }}
    {{ $tool :=  index .Site.Data.tools $tool }}

    <div class="card-left">
        <figure>
            <img src="/tools/{{ $tool.image }}" width="180" alt="{{ $tool.name }}" />
        </figure>
    </div>
  
    <div class="card-right">
      <div class="tool-title-container">
        <div class="tool-title">{{ $tool.name }}</div>
        <div class="tool-icons">{{ partial "icons.html" (dict "paper" $tool.pub "repo" $tool.repo) }}</div>
      </div>
      <div class="card-bio">
        {{ $tool.description | markdownify }}
      </div>
    </div>
</div>
  