<div class="card">
    {{ $tool := .Get 0 }}
    {{ $tool :=  index .Site.Data.tools $tool }}

    <div class="card-left">
        <figure class="tool">
            <img src="/tools/{{ $tool.image }}" width="180" alt="{{ $tool.name }}" style="border: 2px solid lightgrey;" />
        </figure>
    </div>
  
    <div class="card-right">
      <span class="card-title" style="font-size: larger;">{{ $tool.name }}</span>
      <div class="card-bio">
        {{ $tool.description | markdownify }}
      </div>
      <dl class="card-profiles">
        {{ with $tool.paper }}
            {{ partial "profile.html" (dict "name" "Paper" "link" $tool.pub "text" $tool.paper) }}
        {{ end }}
        
        {{ with $tool.repo }}
            {{ partial "profile.html" (dict "name" "Codebase" "link" $tool.repo "text" $tool.repo) }}
        {{ end }}

        {{ with $tool.pip }}
            {{ partial "codeblock.html" (dict "name" "Install" "text" $tool.pip) }}
        {{ end }}
      </dl>

    </div>
</div>
  